{% extends "admin_base.html" %}
{% set lbl_mg = table_label('event_groups', 'Event groups') %}
{% set lbl_mt = table_label('events', 'Events') %}
{% set lbl_ind = table_label('industries', 'Topics') %}

{% block admin_main_container_class %}container-fluid px-2 px-sm-3 px-xl-4 admin-events-main-wide{% endblock %}

{% block title %}{% block admin_page_title %}Admin functions{% endblock %} | The Networker{% endblock %}

{% block admin_extra_head %}
{% include "admin/_styles.html" %}
{% block admin_panel_extra_head %}{% endblock %}
{% endblock %}

{% block content %}
  <div id="adminFunctionsPage">
    {% block admin_panel %}{% endblock %}
  </div>

  {% block admin_panel_modals %}{% endblock %}
  {% include "admin/modals/_shared.html" %}
{% endblock %}

{% block admin_extra_scripts %}
{% include "admin/scripts/_all.html" %}
{% block admin_panel_extra_scripts %}{% endblock %}
{% endblock %}
